.button1 {
    margin: 3px;
    width: 40px;
    height: 40px;
    background-color: hsl(51, 80%, 90%);
    /* background-color:#B7383B;
    border-color: #B7383B; */
    /* color: #fff; */
    border-radius: 15px;
}

.button1:hover {
    opacity: 0.5;
}

.button1:focus{
    background-color: aliceblue ;
}

.add-button{
    width: 80px;
    height: 35px;
    border-radius: 15px;
    background-color: hsl(177, 100%, 14%);
    color: white;
    border-width: 0px;
}

.add-button:hover {
    opacity: 0.8;
}

.delete-button{
    width: 90px;
    height: 30px;
    border-radius: 8px;
    background: hsl(193, 25%, 33%);
    color: white;
    border-width: 0px;
}

.delete-button:hover {
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: medium;
}

.font-weight-bold {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.app-title {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Industrial Sans'
}

.welcome-text {
    font-size: 20px;
    font-family: 'Lucida Grande';
}

.main-body{
    margin-left: 60px;
    margin-top: 20px;
}

.semesters{
    margin-left: 40px;
}

.main-title {
    text-align: right;
    margin-right: 45px;
}

.my-margin{
    margin-left: 50px;
}

.table{
    margin-top: 20px;
    margin-left: auto;
    margin-right:auto;
    width: 95%;
    text-align: left;
}

.td-group{
    width: 25%;
}

.td-code{
    width: 10%;
}

.td-name{
    width: 25%;
}

.td-grade{
    width: 40%;
}

.th{
    text-align: left;
}

.thead-dark{
    background-color: hsl(192, 32%, 25%);
    color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.show-semesters-button{
    margin-left: 2.5%;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    background-color: hsl(192, 32%, 30%);
    color: white;
    border-width: 0;
    font-family: "Roboto", Sans-serif;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-semesters-button:hover{
    opacity: 0.8;
}

.semester-gpa{
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}


footer {
    background-color: rgba(0, 0, 0, 0.025);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    width: 100%;
}

.badge-custom {
    background-color:  #ECE8DD;
    color: black;
}

.thead-semester{
    background-color: #579BB1;
    color:white
}

th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-body{
    background-color: white;
    margin-bottom: 72px;
    margin-left: 3%;
    margin-right: 3%;
}

.custom-container{
    background-color: white;
}

  
